<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profileCard1.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="profileCardsList">
        <div class="profileCard1">
            <div class="id">
                <span>@ollehudga_</span>
            </div>
            <div class="profilePhoto">
                <img src="../static/profilephoto/RMH.jpeg" alt="" class="src">
            </div>
            <div class="name-container">
                <span>Rahul Samedavar</span>
            </div>
        </div>
    </div>
</body>
</html>